<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>
   <body>
      <h1>Trail Counter</h1>
      <h2>Date Time: {{ time }}</h2>
      <h2>Current WiFi Count: {{ wifi_count }}</h2>
      <h2>Current Bluetooth Count: {{ bluetooth_count }}</h2>
      <a href=get_summary_log><input type=”button” value=Download_Summary_Log></a>
      <a href=get_complete_log><input type=”button” value=Download_Complete_Log></a>
      <a href=reset_logs><input type=”button” value=Reset_Logs></a>
   </body>
</html>
